[submodule "Task"]
	path = Task
	url = https://github.com/Jcing95/Task.git
[submodule "Log"]
	path = Log
	url = https://github.com/Jcing95/Log.git
[submodule "FileIO"]
	path = FileIO
	url = https://github.com/Jcing95/FileIO.git
